body, header, footer, div, span, img, table, ul, ol, p, input,textarea, select,h1,h2,h3,h4,h5,h6 {
    margin: 0 auto;
    padding: 0;
    border: 0;
    
}

html,a{
    color: #404040;
    font-family:'Arial', "微软雅黑";/*方正兰亭超细黑简体","*/
    letter-spacing:0em;/*字间距*/
    /*font-size: 62.5%;*/
}
ul li, ol li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 禁用radio和checkbox默认样式 */
input[type=radio]::-ms-check, input[type=checkbox]::-ms-check {
    display: none;
}
/* 禁用PC端表单输入框默认清除按钮 */
input[type=text]::-ms-clear, input[type=tel]::-ms-clear, input[type=number]::-ms-clear {
    display: none;
}
input[disabled="disable"]{
    opacity: 1;
}
input[type="button"], input[type="submit"], input[type="reset"],input[type="text"] {

-webkit-appearance: none!important;

}

textarea {  -webkit-appearance: none;} 
.button{ border-radius: 0; } 
input,
textarea {
    border: 0; /* 方法1 */
    -webkit-appearance: none; /* 方法2 */
}
/*表单外边框*/
input, td, select,span,div,button,textarea{
    -webkit-tap-highlight-color: rgba(0,0,0,0);/*//去除ios端虚线框*/
    outline:medium;/*去除input外边框*/
}

a:link, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
    outline: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*移动端重置*/
/*html,body{-webkit-user-select:none;user-select:none;}*/
html,body,div,object,iframe,applet,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,address,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,progress{margin:0;padding:0;border:0;vertical-align:baseline}
a{text-decoration:none;-webkit-touch-callout:none;background-color:transparent}
li{list-style:none}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0;-webkit-touch-callout:none;}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
a,button,input,optgroup,select,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;-webkit-appearance:none;outline:none;line-height:normal}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default;background-color: #fff;color: #A9A9A9; -webkit-text-fill-color:#A9A9A9; -webkit-opacity:1; opacity: 1; }
textarea{background-color: #fff;}
button::focus-inner,input::focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}




/* ------------------------------CSS属性 S-------------------- */
/*清除浮动*/
.clear {
    zoom: 1;
    clear:both;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}


/*浮动*/
.fl{
    float: left;
}
.fr{
    float: right;
}
/*块状内敛元素*/
.dpl-n{
    display:none;
}
.dpl-i{
    display:inline;
}
.dpl-b{
    display:block;
}
.dpl-ib{
    display:inline-block;
}
/*相对绝对定位*/
.pos-rel{
    position:relative;
}
.pos-abs{
    position:absolute;
}
.pos-fix{
    position:fixed;
}
.pos-sta{
    position:static;
}
.pos-ini{
    position:initial;
}
/*字体大小*/
.ft8{
    font-size: 8px;
}
.ft10{
    font-size: 10px;
}
.ft11{
    font-size: 11px;
}
.ft12{
    font-size: 12px;
}
.ft13{
    font-size: 13px;
}
.ft14{
    font-size: 14px;
}
.ft15{
    font-size: 15px;
}
.ft16{
    font-size: 16px;
}
.ft17{
    font-size: 17px;
}
.ft18{
    font-size: 18px;
}
.ft19{
    font-size: 19px;
}
.ft20{
    font-size: 20px;
}
.ft21{
    font-size: 21px;
}
.ft22{
    font-size: 22px;
}
.ft23{
    font-size: 23px;
}
.ft24{
    font-size: 24px;
}
.ft25{
    font-size: 25px;
}
.ft26{
    font-size: 26px;
}
.ft28{
    font-size: 28px;
}
.ft30{
    font-size: 30px;
}
.ft36{
    font-size: 36px;
}
.ft100{
    font-size: 100px;
}
/*字体粗细*/
.ftW-b{
    font-weight: bold;
}
.ftW-n{
    font-weight: normal;
}
/*层级*/
.zIndex0{
    z-index: -1;
}
.zIndex1{
    z-index: 1;
}
.zIndex999{
    z-index: 999;
}
/*常用宽度*/
.w-100p{
    width: 100%;
}
.w-97p{
    width: 97%;
    font-size: 0;
}
.w-90p{
    width: 90%;
}
.w-85p{
    width: 85%;
}
.w-50p{
    width: 50%;
}
.w-33p{
    width: 33.3%;
}
.w-25p{
    width: 25%;
}
.w-20p{
    width: 20%;
}
.w-10p{
    width: 10%;
}
/*中划删除线*/
.txtD-line{
    text-decoration:line-through;
}
/*text-align*/
.txt-l{
    text-align: left;
}
.txt-r{
    text-align: right;
}
.txt-c{
    text-align: center;
}
/*详情弹框公共css*/
.contain .title{
    color: #666;
    font-size: 14px;
}
.contain .content{
    color: #333;
    font-size: 14px;
    padding-bottom: 20px!important;
}
.dialog .contain h3{
    color: #333;
    padding-bottom:10px!important;
    font-size: 16px;
    margin-bottom: 20px!important;
    margin-top: 20px;
}
.main-right-search-span{
    display: inline-block;
}
.rent1-input{
    width: 70%!important;
}
.search-cont{
    width: 30%;
    text-align: right;
}
.dialog .el-menu{
    padding-top: 28px;
}
.dialog{
    width: 550px!important;
}
.closeIco{
    top: 20px!important;
    right: 20px!important;
}
/*暂无数据样式*/
.noData{
    text-align: center;
    margin: 70px 0;
}
/*预约表单样式*/
.appointForm .el-input__icon+.el-input__inner{
  padding-right: 10px;
}
.appointForm .sousuo .el-input__inner{
    padding-right: 10px;
    width: 474px!important;
}
.appointForm .w100p .el-form-item__content{
    width: 78%;
}
.appointForm .textarea .el-textarea__inner{
    padding: 6px 7px!important;
}
.appointForm .el-dialog--small {
    width: 683px!important;
}
/*预定表单样式*/
.reserve .el-input__icon+.el-input__inner{
  padding-right: 10px;
}
.reserve .w100p .el-form-item__content{
    width: 78%;
}
.reserve .textarea .el-textarea__inner{
    padding: 6px 7px!important;
}
.reserve .w132 .el-input__inner{
    width: 132px!important;
}
.reserve .sousuo .el-input__inner {
    padding-right: 10px;
    width: 474px!important;
}
/*新建合同表单样式*/
.contract .el-input__icon+.el-input__inner{
  padding-right: 10px;
}
.contract .w100p .el-form-item__content{
    width: 78%;
}
.contract .textarea .el-textarea__inner{
    padding: 6px 7px!important;
}
.contract .w132 .el-input__inner{
    width: 132px!important;
}
.contract .sousuo .el-input__inner {
    padding-right: 10px;
    width: 474px!important;
}
/*录入费用表单样式*/
.recordMoney .el-input__icon+.el-input__inner{
  padding-right: 10px;
}
/*首页样式*/
.el-message-box__content{
    /*padding-bottom: 0!important;*/
}
.list-contain-div{
    padding: 10px 25px!important;
}
.list-contain-main{
    padding: 0!important;
}
.list-contain-div:hover {
    box-shadow: 0 0 10px #cecece;
    background-color: #f7f9fa;
    z-index: 1;
}
/*强制表单样式*/
.el-dialog--small {
    width: 665px!important;
}
/*欠费账单样式空置*/
.merge .w-8 {
    height: 20px!important;
}
/*登录页面css重置*/
.login-css .el-input__inner{
    height: 40px;
}
.login-css .but-css{
    height: 40px;
}
/*.login-css .el-button--primary{
    color: #20a0ff!important;
    border-color: #20a0ff!important;
    background-color: #fff!important;
}*/
.login-css .phone_bg .el-input__inner{
    background: url(../img/user.png) no-repeat 10px center!important;
    background-size: 16px 18px!important;
    padding-left: 38px;
}
.login-css .password_bg .el-input__inner{
    background: url(../img/password.png) no-repeat 10px center!important;
    background-size: 16px 18px!important;
    padding-left: 38px;
}
.login-css .code_bg .el-input__inner{
    background: url(../img/code.png) no-repeat 10px center!important;
    background-size: 16px 18px!important;
    padding-left: 38px;
}

